<div id="<%= dom_id social_media_post %>">
  <p>
    <strong>Content:</strong>
    <%= social_media_post.content %>
  </p>

  <p>
    <strong>Social Media:</strong>
    <%= social_media_post.social_media_people_identifier.social_media_type.name %>
  </p>

  <p>
    <strong>Posted at:</strong>
    <%= social_media_post.posted_at %>
  </p>
</div>
